.competences{
    .competences1{
        // text-shadow: none;
        margin: 0;
        padding: 40px;
    }
}
.progression{
    background-color: black;
    .skills{
        text-align: right;
        padding: 10px;
        color: white;
    }
    strong{
        color: rgb(2, 139, 251);
        text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.37);
        font-size: 20px;
    }
}