footer{
    padding: 0;
}
.monnom{
    text-shadow: 5px 4px 7px hsla(0, 0%, 0%, 0.69);
    font-size: 18px; 
}
.soutitre{
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.69);
}
.ulfooter{
    text-shadow: 5px 4px 7px hsla(0, 0%, 0%, 0.69);
    .telephone{
        align-items: center;
    }
    .Navigationh6{
        color: rgba(115, 157, 255, 0.69);
    }
}
.contacter{
    text-shadow: 5px 4px 7px hsla(0, 0%, 0%, 0.69);
    font-size: 18px;
}
.container{
    color: brown;
}