* {
    box-sizing: border-box;
}

body, html {
    margin: 0%;
    padding: 0%;
    height: 100%;
}


#full {
    position: relative;; 
    width: 100%;
    background-image: url(texture\ herbe.jpg);
    height: 100%;
    background-size: cover;
}

#parents {
    width: 100%;
    height: 100%;
    position: relative;
    
}

#gauche {
    width: 50%;
    top: 0%;
    height: 100%;
    left: 0%;
    position: absolute;
}

#droite {
    width: 50%;
    top: 0%;
    height: 100%;
    right: 0%;
    position: absolute;
}    

.butD {
    height: 55%;
    width: 26%;
    border-style: solid;
    color: white;
    position: absolute;
    margin-top: 25%;
    margin-left: 74%;
}

.butG {
    height: 55%;
    width: 26%;
    border-style: solid;
    color: rgba(255, 255, 255, 0.815);;
    position: absolute;
    margin-top: 25%;
    margin-right: 75%;
}

.butDD {
    height: 25%;
    width: 10%;
    border-style: solid;
    color: rgba(255, 255, 255, 0.815);;
    position: absolute;
    margin-top: 39%;
    margin-left: 90%;
}

.butGG {
    height: 25%;
    width: 10%;
    border-style: solid;
    color: rgba(255, 255, 255, 0.815);;
    position: absolute;
    margin-top: 39%;
    margin-right: 90%;
}

.pointdePD {
    position: absolute;
    width: 2%;
    height: 2%;
    margin-top: 50%;
    margin-left: 80%;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 50%;
}

.pointdePG {
    position: absolute;
    width: 2%;
    height: 2%;
    margin-top: 50%;
    margin-left: 18%;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 50%;
}

.cerclezoneD {
    position: absolute;
    height: 20%;
    width: 10%;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    margin-top: 41%;
    margin-left: 64.4%;
    border: solid rgba(255, 255, 255, 0.815);;
    
}

.cerclezoneG {
    position: absolute;
    height: 20%;
    width: 10%;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
    margin-top: 41%;
    margin-left: 25.7%;
    border: solid rgba(255, 255, 255, 0.815);;

}

.centerD {
    position: absolute;
    height: 20%;
    width: 10%;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
    margin-top: 40%;
    margin-left: 0.1%;
    border: solid rgba(255, 255, 255, 0.815);;
    
}

.centerG {
    position: absolute;
    height: 20%;
    width: 10%;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    margin-top: 40%;
    margin-left: 90.35%;
    border: solid rgba(255, 255, 255, 0.815);;
}

.contour {
    height: 100%;
    width: 100%;
    border: solid rgba(255, 255, 255, 0.815);;
    position: absolute;
}

.plate {
    position: absolute;
    width: 0%;
    height: 100%;
    margin-left: 50%;
    border: solid rgba(255, 255, 255, 0.815);;
    
}

.ballon {
    position: absolute;
    background-image: url(Ballon.png);
    margin-top: 48.75%;
    right: 98%;
    width: 3%;
    height: 3%;
    background-size: cover;
    z-index: 10;
}





/* .ballon {
	-webkit-animation: ballon 3.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: ballon 3.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes ballon {
    0% {
    -webkit-transform: translateZ(160px) translateY(-100px);
        transform: translateZ(160px) translateY(-100px);
    }
    100% {
    -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
    }
}


@keyframes ballon {
    0% {
    -webkit-transform: translateZ(160px) translateY(-500px);
        transform: translateZ(160px) translateY(-500px);
    }
    100% {
    -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
    }
} */

.ballon {
	animation: slide-fwd-top 5.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-29 13:51:52
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-top
 * ----------------------------------------
 */
@keyframes slide-fwd-top {
    0% {
    transform: translateZ(-400px) translateY(-400px);
    }
    100% {
    transform: translateZ(0) translateY(0);
    }
}
